.form-group {
    .form-control {
        border-radius: 0;
        border-color: $p2;
        min-width: 315px;

        &[disabled] {
            border: none;
            background-color: $p2c;
        }
    }
}

.form-row {
    .form-group .form-control {
        min-width: auto;
    }
}