
.tooltip-inner {
    background-color: $color-primary-blue;
    opacity: 1;
}
.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: $color-primary-blue !important;
}
.tooltip.bs-tooltip-left .arrow:before {
    border-right-color: $color-primary-blue !important;
}
.tooltip.bs-tooltip-bottom .arrow:before {
    border-right-color: $color-primary-blue !important;
}
.tooltip.bs-tooltip-top .arrow:before {
    border-right-color: $color-primary-blue !important;
}
