  <!-- Accordion card -->
  <div class="w-100 accordion-content-wrapper">

     
      <!-- Card header -->
      <div class="title-box collapsed h-line" role="tab" id="headingOne1" data-toggle="collapse"
          data-parent="#accordionEx" href="#{{accordionNumber}}" aria-expanded="true" aria-controls="content">

          <div class="col-md-6 col-12  title-desc">
              <div class="row">
                  <div class="col-11 pr-0">
                      <p class="mb-0">
                            {{title}}
                      </p>
                  </div>
                  <div class="col-1 p-0">
                      {% include "icon.twig" with { iconName: 'arrow-black'  } %}
                  </div>
              </div>
          </div>

          <div class="col-6 d-md-block d-none ">
              <div class="row">
                    {% block headerValue %}
                    body
                    {% endblock %}
              </div>
          </div>
      </div>




      <!-- Card body -->
      <div id="{{accordionNumber}}" class="collapse w-100 accordion-content" role="tabpanel"
          aria-labelledby="headingOne1" data-parent="#accordionEx">


          {% block bodyArea %}
          body
          {% endblock %}

    


      </div>




  </div>