<div class=" nav-wrapper">

    <nav class=" navbar p-0">

        <div class="container">
            <!-- Navbar brand -->
            <a href="#">
                <img src="spa-assets/img/msig-logo.png">
            </a>

            <a>
                <svg class="icon icon-s mr-2">
                    <use xlink:href="spa-assets/icons/icons.svg#sprite-hamburger"
                        href="spa-assets/icons/icons.svg#sprite-hamburger"></use>
                </svg>
            </a>
        </div>


    </nav>
    <!--/.Navbar-->
    <div class="breadcrumb-wrapper bg-white">

        <div class="breadcrumb container align-items-center">

            <a class="btn-back d-block d-md-none" href="">
                <span class="mr-1">
                    <svg class="icon ">
                        <use xlink:href="spa-assets/icons/icons.svg#sprite-arrow-black"
                            href="spa-assets/icons/icons.svg#sprite-arrow-black"></use>
                    </svg>
                </span>
                Back
            </a>

            <a class="breadcrumb-item" href="#">Home</a>
            <a class="breadcrumb-item" href="#">Highlights</a>
           

            <span class="breadcrumb-item dropdown-container">

                <a class="dropdown-wrapper font-weight-bold d-flex justify-content-between align-items-center" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span>
                            Personal Accident
                    </span>
                    <svg class="icon icon-s color-primary-blue ">
                        <use xlink:href="spa-assets/icons/icons.svg#sprite-arrow-black"
                            href="spa-assets/icons/icons.svg#sprite-arrow-black"></use>
                    </svg>
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Travel</a>
                    <a class="dropdown-item" href="#">Motor</a>
                    <a class="dropdown-item" href="#">Personal Accident</a>
                    <a class="dropdown-item" href="#">Lifestyle</a>
                </div>
            </span>
            <span class="breadcrumb-item active">TravelRight Plus Insurance Advisory on Lombok</span>

        </div>
    </div>


</div>