<div class="subnav-travel-details ">
    <nav class="navbar navbar-expand-md container">
        <a class="nav-brand d-block d-md-none p-0" href="#">ABOUT</a>
        <a class="arrow-dropdown d-block d-md-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             {% include "icon.twig" with { iconName: 'arrow-dropdown' } %}
    </a>

        <div class="collapse show navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav "> 
                <li class="nav-item">
                    <a class="nav-link active" href="#">ABOUT</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="#">OUR PRODUCT BENEFITS <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">OUR ADD-ON</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">COVERAGE DETAILS
                    </a>
                </li>
            </ul>

        </div>
    </nav>

</div>