select.form-control {
    border-radius: 0;
    border-color: $p2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent url('../../src/assets/img/expand-icon.png') right 10px center no-repeat;
    padding-right: 40px;
    @include media-breakpoint-up(lg) {
        max-width: 325px;
    }
}