// Vendor Overwrites

form#msform {
    padding-bottom: 36px;
}

#mmpTncContainer .closeMMPMsg {
    display: flex;
    color: #fff;
}

main#main-content {
    min-height: calc(100vh - 66px);
    background-color: $p2d;
}