.bt1 {
    font-weight: 700;
    font-size: 18px;
}

.bt2 {
    font-weight: 400;
    font-size: 18px;
}

.bt3 {
    font-style: italic;
    font-size: 12px;
}

.p1 {
    color: $p1;
}

.bg-p1 {
    background-color: $p1;
}

.p2 {
    color: $p2;
}

.bg-p2 {
    background-color: $p2;
}

.s1 {
    color: $s1;
}

.bg-s1 {
    background-color: $s1;
}

.s2 {
    color: $s2;
}

.bg-s2 {
    background-color: $s2;
}

.w {
    color: #fff;
}

.bg-w {
    background-color: #fff;
}

.black {
    color: #000;
}

.bg-black {
    background-color: #000;
}

.btn {
    min-width: 158px;
}


.btn-l {
    min-width: 220px;
}


ol.roman {
    list-style-type: lower-roman;
}