.bt1 {
    font-weight: 700;
    font-size: 18px;
}

.bt2 {
    font-weight: 400;
    font-size: 16px;
}

.bt4 {
    font-size: 18px;
}

@include media-breakpoint-up(md) {
    .bt1 {
        font-size: 18px;
    }

    .bt2 {
        font-size: 18px;
    }

    .bt4 {
        font-size: 20px;
    }
}

.bt3 {
    font-style: italic;
    font-size: 12px;
}



.p1 {
    color: $p1;
}

.bg-p1 {
    background-color: $p1;
}

.p2 {
    color: $p2;
}

.bg-p2 {
    background-color: $p2;
}

.p2a {
    color: $p2a;
}

.bg-p2a {
    background-color: $p2a;
}

.p2b {
    color: $p2b;
}

.bg-p2b {
    background-color: $p2b;
}

.p2c {
    color: $p2c;
}

.bg-p2c {
    background-color: $p2c;
}

.p2d {
    color: $p2d;
}

.bg-p2d {
    background-color: $p2d;
}

.s1 {
    color: $s1;
}

.bg-s1 {
    background-color: $s1;
}

.s2 {
    color: $s2;
}

.bg-s2 {
    background-color: $s2;
}

.w {
    color: #fff;
}

.bg-w {
    background-color: #fff;
}

.bg-lightGrey {
    background-color: #F8F8F8;
}

.bg-darkGrey {
    background-color: #E6E5EC;
}

.black {
    color: #000;
}

.bg-black {
    background-color: #000;
}

.btn {
    min-width: 158px;
}


.btn-l {
    min-width: 220px;
}


ol.roman {
    list-style-type: lower-roman;
}