{% extends "templates/partials/base.twig" %}

{% block main %}

    <div class="form-wizard" id="travel-form">
        <div class="container py-5">
            <h1>Travel Insurance</h1>
            {% include "templates/components/steppers.twig" %}
        </div>

        <div class="bg-p2d py-5 wizard-sections">

            <div class="wizard-section-2">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-8">

                            <div class="bg-w py-5 px-4 mb-3">
                                <h2 class="p2 mb-4 pb-md-2">Choose a Plan</h2>

                                {% include "templates/components/input-variant-radio.twig" with {
                                    name: 'coverageType',
                                    formControls: [
                                        { value: 'Single Trip' },
                                        { value: 'Annual Cover' },
                                    ],
                                    spacing: 'mb-4 d-flex'
                                } %}

                                {% verbatim %}    
                                    <div class="d-md-flex">
                                        <div class="form-group">
                                            <label class="bt1" for="areaOfCoverage">Area of Coverage :</label>
                                            <select name="areaOfCoverage" id="areaOfCoverage" class="form-control" v-model="formData.areaOfCoverage">
                                                <option :value="area.name" v-for="area in coverageAreas" v-bind:key="coverageAreas.indexOf(area)">
                                                    {{ area.name }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="bt2">
                                        <p>Locations covered in this area of coverage:</p>
                                        <p>{{ countriesForCurrArea }}</p>
                                    </div>
                                {% endverbatim %}


                                <div class="area-of-coverage text-center mb-5">
                                    <img src="assets/img/area-1.jpg" 
                                        alt="Area 1" 
                                        :class="{
                                            'img-fluid': true,
                                            'd-none': formData.areaOfCoverage !== 'Area 1'
                                        }">
                                    <img src="assets/img/area-2.jpg" 
                                        alt="Area 2" 
                                        :class="{
                                            'img-fluid': true,
                                            'd-none': formData.areaOfCoverage !== 'Area 2'
                                        }">
                                    <img src="assets/img/area-3.jpg" 
                                        alt="Area 3" 
                                        :class="{
                                            'img-fluid': true,
                                            'd-none': formData.areaOfCoverage !== 'Area 3'
                                        }">
                                    <img src="assets/img/area-4.jpg" 
                                        alt="Area 4" 
                                        :class="{
                                            'img-fluid': true,
                                            'd-none': formData.areaOfCoverage !== 'Area 4'
                                        }">
                                </div>

                                <h2 class="p2 mb-4">Period of Coverage</h2>
                                <div class="d-md-flex justify-content-between mb-4">
                                    <div>
                                        <p class="bt1">Start Date</p>
                                        <div class="form-group variant-date-picker mb-0">
                                            <datepicker class="form-control"
                                                placeholder="Select date"
                                                :format="customDateFormatter"
                                                v-model="formData.startDate">
                                            </datepicker>
                                            {% include "templates/components/icon.twig" with { iconName: 'calendar' } %}
                                        </div>
                                        <small class="error-message text-primary font-italic">* Complete the Start Date field.</small>
                                    </div>

                                    <div>
                                        <p class="bt1">End Date</p>
                                        <div class="form-group variant-date-picker mb-0">
                                            <datepicker class="form-control"
                                                placeholder="Select date"
                                                :format="customDateFormatter"
                                                v-model="formData.endDate">
                                            </datepicker>
                                            {% include "templates/components/icon.twig" with { iconName: 'calendar' } %}
                                        </div>
                                        <small class="error-message text-primary font-italic">* Complete the End Date field.</small>
                                    </div>
                                </div>
                                <div class="bt2">
                                    <p>Please note that your coverage will terminate at the earliest happening of the following:</p>
                                    <ol class="pl-3">
                                        <li>24 hours upon your arrival in Malaysia</li>
                                        <li>Upon reaching your home or workplace in Malaysia (whichever is the earlier)</li>
                                        <li>Expiry date of your travel insurance policy</li>
                                    </ol>
                                    <p>The following benefits will not be applicable for travel insurance purchased less than 7 days from travel start date:</p>
                                    <ol class="pl-3">
                                        <li>Section 7: Travel Cancellation</li>
                                        <li>Section 14: Loss of Travel Deposit</li>
                                    </ol>
                                </div>
                            </div>

                            <div class="bg-w py-5 px-4 mb-3">
                                <h2 class="p2 mb-4">Please Select Your Preferred Plan</h2>
                                <div class="selection-infobox-group row">
                                    <div class="col-12 col-lg-4">
                                        <div class="header-match-height d-flex align-items-center mt-5">
                                            <p class="h2">TravelRight Plus</p>
                                        </div>
                                        <p class="bt1 d-none d-lg-block mb-1">Benefits</p>
                                        {% include "templates/components/list-variant-icon.twig" with {
                                            items: [
                                                { iconName: 'tick-mark', content: 'Personal Accident' },
                                                { iconName: 'tick-mark', content: 'Medical & Other Expenses' },
                                                { iconName: 'tick-mark', content: 'Luggage & Personal Effects' },
                                                { iconName: 'tick-mark', content: 'Luggage & Delay (Every 6 hours)' },
                                                { iconName: 'tick-mark', content: 'Travel Delay (Every 6 hours)' },
                                            ],
                                            class: "d-none d-lg-block"
                                        } %}
                                        <p class="bt2">View the full benefits <strong><a href="#">HERE</a></strong></p>
                                    </div>
                                    <div class="col-12 col-lg-8">
                                        <div class="d-lg-flex">
                                            {% embed "templates/components/selection-infobox.twig" with {
                                                type: "radio",
                                                name: "choosePlan",
                                                value: "plan1",
                                                classes: "mb-3 mb-lg-0 mr-lg-3"
                                            } %}
                                                {% block top %}
                                                    <h3 class="m-0">Plan 1</h3>
                                                    <p class="m-0">from <span class="h3">RM39.00</span></p>
                                                {% endblock %}

                                                {% block icon %}
                                                    {% include "templates/components/icon.twig" with { iconName: 'calendar', iconSize: '4xl' } %}
                                                {% endblock %}

                                                {% block bottom %}
                                                    <div class="row py-2">
                                                        <div class="text-left col-6 col-lg-12 d-lg-none">
                                                            <strong class="mr-2 mr-lg-0 bold">Benefits</strong>
                                                        </div>
                                                        <div class="text-right text-lg-center col-6 col-lg-12">
                                                            <strong class="ml-2 ml-lg-0">RM</strong>
                                                        </div>
                                                    </div>
                                                    {% include "templates/components/list-variant-icon.twig" with {
                                                        items: [
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Personal Accident</span><span class="ml-2 ml-lg-0">250,000</span>' },
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Medical & Other Expenses</span><span class="ml-2 ml-lg-0">1,000,000</span>' },
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Luggage & Personal Effects</span><span class="ml-2 ml-lg-0">5,000</span>' },
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Luggage & Delay<br/><i>(Every 6 hours)</i></span><span class="ml-2 ml-lg-0">200</span>' },
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Travel Delay<br/><i>(Every 6 hours)</i></span><span class="ml-2 ml-lg-0">200</span>' },
                                                        ],
                                                        listWithLabelValue: true
                                                    } %}
                                                {% endblock %}
                                            {% endembed %}

                                            {% embed "templates/components/selection-infobox.twig" with {
                                                type: "radio",
                                                name: "choosePlan",
                                                value: "plan2",
                                                classes: "mb-3 mb-lg-0 mr-lg-3",
                                                highlight: "Recommended" 
                                            } %}
                                                {% block top %}
                                                    <h3 class="m-0">Plan 2</h3>
                                                    <p class="m-0">from <span class="h3">RM58.00</span></p>
                                                {% endblock %}

                                                {% block icon %}
                                                    {% include "templates/components/icon.twig" with { iconName: 'calendar', iconSize: '4xl' } %}
                                                {% endblock %}

                                                {% block bottom %}
                                                    <div class="row py-2">
                                                        <div class="text-left col-6 col-lg-12 d-lg-none">
                                                            <strong class="mr-2 mr-lg-0 bold">Benefits</strong>
                                                        </div>
                                                        <div class="text-right text-lg-center col-6 col-lg-12">
                                                            <strong class="ml-2 ml-lg-0">RM</strong>
                                                        </div>
                                                    </div>
                                                    {% include "templates/components/list-variant-icon.twig" with {
                                                        items: [
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Personal Accident</span><span class="ml-2 ml-lg-0">350,000</span>' },
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Medical & Other Expenses</span><span class="ml-2 ml-lg-0">1,000,000</span>' },
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Luggage & Personal Effects</span><span class="ml-2 ml-lg-0">7,500</span>' },
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Luggage & Delay<br/><i>(Every 6 hours)</i></span><span class="ml-2 ml-lg-0">200</span>' },
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Travel Delay<br/><i>(Every 6 hours)</i></span><span class="ml-2 ml-lg-0">200</span>' },
                                                        ],
                                                        listWithLabelValue: true
                                                    } %}
                                                {% endblock %}
                                            {% endembed %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                             <div class="bg-w py-5 px-4 mb-3">
                                <h2 class="p2">Choose Your Optional Add-On</h2>
                                <div class="selection-infobox-group row">
                                    <div class="col-12 col-lg-4">
                                        <div class="header-match-height">
                                            <p class="h2 mt-5">Sports Fan</p>
                                            <p class="bt1 mb-0 pb-2">Travelling and can't wait to cheer for your favourite sports team? Make sure you are covered with the Sports Fans add-on for additional protection!</p> 
                                        </div>
                                        <p class="bt1 d-none d-lg-block mb-1">Benefits</p>
                                        {% include "templates/components/list-variant-icon.twig" with {
                                            items: [
                                                { iconName: 'tick-mark', content: 'Additional Indemnity for Personal Accident' },
                                                { iconName: 'tick-mark', content: 'Extended Accommodation Cover' },
                                                { iconName: 'tick-mark', content: 'Ticket Cover' },
                                                { iconName: 'tick-mark', content: 'Transportation Amendment Fee' },
                                            ]
                                        } %}
                                        <p class="bt2">View the full benefits <strong><a href="#">HERE</a></strong></p>
                                    </div>
                                    <div class="col-12 col-lg-8">
                                        <div class="d-lg-flex">
                                            {% embed "templates/components/selection-infobox.twig" with {
                                                type: "radio",
                                                name: "choosePlan",
                                                value: "sport_plan1",
                                                classes: "mb-3 mb-lg-0 mr-lg-3"
                                            } %}
                                                {% block top %}
                                                    <h3 class="m-0">Plan 1</h3>
                                                    <p class="m-0">+ <span class="h3">RM9.00</span></p>
                                                {% endblock %}

                                                {% block icon %}
                                                    {% include "templates/components/icon.twig" with { iconName: 'calendar', iconSize: '4xl' } %}
                                                {% endblock %}

                                                {% block bottom %}
                                                    <div class="row py-2">
                                                        <div class="text-left col-6 col-lg-12 d-lg-none">
                                                            <strong class="mr-2 mr-lg-0 bold">Benefits</strong>
                                                        </div>
                                                        <div class="text-right text-lg-center col-6 col-lg-12">
                                                            <strong class="ml-2 ml-lg-0">RM</strong>
                                                        </div>
                                                    </div>
                                                    {% include "templates/components/list-variant-icon.twig" with {
                                                        items: [
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Additional Indemnity for Personal Accident</span><span class="ml-2 ml-lg-0">250,000</span>' },
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Extended Accommodation Cover</span><span class="ml-2 ml-lg-0">200 (per day)</span>' },
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Ticket Cover</span><span class="ml-2 ml-lg-0">5,000</span>' },
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Transportation Amendment Fee</span><span class="ml-2 ml-lg-0">1,000</span>' },
                                                        ],
                                                        listWithLabelValue: true
                                                    } %}
                                                {% endblock %}
                                            {% endembed %}

                                            {% embed "templates/components/selection-infobox.twig" with {
                                                type: "radio",
                                                name: "choosePlan",
                                                value: "sport_plan2",
                                                classes: "mb-3 mb-lg-0 mr-lg-3",
                                            } %}
                                                {% block top %}
                                                    <h3 class="m-0">Plan 2</h3>
                                                    <p class="m-0">+ <span class="h3">RM15.00</span></p>
                                                {% endblock %}

                                                {% block icon %}
                                                    {% include "templates/components/icon.twig" with { iconName: 'calendar', iconSize: '4xl' } %}
                                                {% endblock %}

                                                {% block bottom %}
                                                    <div class="row py-2">
                                                        <div class="text-left col-6 col-lg-12 d-lg-none">
                                                            <strong class="mr-2 mr-lg-0 bold">Benefits</strong>
                                                        </div>
                                                        <div class="text-right text-lg-center col-6 col-lg-12">
                                                            <strong class="ml-2 ml-lg-0">RM</strong>
                                                        </div>
                                                    </div>
                                                    {% include "templates/components/list-variant-icon.twig" with {
                                                        items: [
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Additional Indemnity for Personal Accident</span><span class="ml-2 ml-lg-0">350,000</span>' },
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Extended Accommodation Cover</span><span class="ml-2 ml-lg-0">200 (per day)</span>' },
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Ticket Cover</span><span class="ml-2 ml-lg-0">5,000</span>' },
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Transportation Amendment Fee</span><span class="ml-2 ml-lg-0">1,000</span>' },
                                                        ],
                                                        listWithLabelValue: true
                                                    } %}
                                                {% endblock %}
                                            {% endembed %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pt-4 wizard-navigation d-none d-md-flex">
                                <a href="#" role="button" class="btn btn-default btn-outline-primary" @click.prevent="goToPrevStep()">Back</a>
                                <a href="#" role="button" class="btn btn-default btn-primary" @click.prevent="goToNextStep()">Continue</a>
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            {% include "templates/components/summary-pane.twig" %}
                        </div>
                    </div>
                </div>
                <div class="container pt-4 wizard-navigation d-md-none">
                    <a href="#" role="button" class="btn btn-default btn-outline-primary mb-3 mb-md-0" @click="goToPrevStep()">Back</a>
                    <a href="#" role="button" class="btn btn-default btn-primary" @click="goToNextStep()">Continue</a>
                </div>
            </div>

        </div>
    </div>

{% endblock %}