{% extends "templates/partials/base.twig" %}

{% block main %}

    <div class="form-wizard" id="travel-form">
        <div class="container py-5">
            <h1>Travel Insurance</h1>
            {% include "templates/components/steppers.twig" %}
        </div>

        <div class="bg-p2d py-5 wizard-sections">

            <div class="wizard-section-6">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-8">
                            <div class="bg-w py-5 px-4 mb-3">
                                <h2 class="p2 mb-4">Payment</h2>
                               
                                <div class="vertical-scroller mb-5">
                                    <div class="d-flex">
                                        {% embed "templates/components/selection-infobox.twig" with {
                                            type: "radio",
                                            name: "choosePayment",
                                            value: "Credit/Debit Card",
                                            classes: "mb-3 mb-lg-0 mr-3",
                                            vModel: 'formData.paymentMethod'
                                        
                                        } %}
                                            {% block top %}
                                                <h3 class="m-0">Credit/Debit Card</h3>
                                            {% endblock %}

                                            {% block icon %}
                                                {% include "templates/components/icon.twig" with { iconName: 'credit-card', iconSize: '4xl' } %}
                                            {% endblock %}
                                        {% endembed %}
                                        {% embed "templates/components/selection-infobox.twig" with {
                                            type: "radio",
                                            name: "choosePayment",
                                            value: "Online Banking",
                                            classes: "mb-3 mb-lg-0 mr-3",
                                            vModel: 'formData.paymentMethod'
                                        
                                        } %}
                                            {% block top %}
                                                <h3 class="m-0">Online Banking</h3>
                                            {% endblock %}

                                            {% block icon %}
                                                {% include "templates/components/icon.twig" with { iconName: 'fpx', iconSize: '4xl' } %}
                                            {% endblock %}
                                        {% endembed %}
                                        {% embed "templates/components/selection-infobox.twig" with {
                                            type: "radio",
                                            name: "choosePayment",
                                            value: "E-Wallet",
                                            classes: "mb-3 mb-lg-0 mr-3",
                                            vModel: 'formData.paymentMethod'
                                        
                                        } %}
                                            {% block top %}
                                                <h3 class="m-0">E-Wallet</h3>
                                            {% endblock %}

                                            {% block icon %}
                                                {% include "templates/components/icon.twig" with { iconName: 'e-wallet', iconSize: '4xl' } %}
                                            {% endblock %}
                                        {% endembed %}
                                    </div>  
                                </div>

                                <div v-if="formData.paymentMethod === 'Credit/Debit Card'">
                                    <img src="assets/img/visa-master-logo.jpg" alt="Visa and Mastercard logo" class="img-fluid mb-4">
                                    <div class="row">
                                        <div class="col-12 col-md-7">
                                            <div class="form-group">
                                                <label class="bt1">Card Number:</label>
                                                <input class="form-control" type="text" placeholder="xxxx-xxxx-xxxx-xxxx" name="cardNumber">
                                                <small class="error-message text-primary font-italic">* Complete the Name as per card field.</small>
                                            </div>
                                            <div class="form-group">
                                                <label class="bt1">Name on Card:</label>
                                                <input class="form-control" type="text" placeholder="Name on Card" name="nameOnCard">
                                                <small class="error-message text-primary font-italic">* Please enter a valid Visa / MasterCard No.</small>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group col-7">
                                                    <label class="bt1">Expiration Date:</label>
                                                    <input class="form-control" type="text" placeholder="MM/YY" name="expirationDate">
                                                    <small class="error-message text-primary font-italic">* Complete the Expiry (MM/YY) field.</small>
                                                </div>
                                                <div class="form-group col-5">
                                                    <label class="bt1">CVV:</label>
                                                    <input class="form-control" type="text" placeholder="xxx" name="CVV">
                                                    <small class="error-message text-primary font-italic">* Complete the CVC field.</small>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div v-if="formData.paymentMethod === 'Online Banking'">
                                    <p class="bt1">Payee Email Address:</p>
                                    <p class="bt2">Please enter your email address below if you would like to have a digital receipt of your purchase.</p>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="e.g. hteoro@gmail.com">
                                                <small class="error-message text-primary font-italic">* Complete the Email field.</small>
                                            </div>
                                        </div>
                                    </div>

                                    {% set banks = [
                                        { img: 'maybank.jpg', name: 'Maybank2U' },
                                        { img: 'maybank.jpg', name: 'Maybank2E' },
                                        { img: 'ocbc.jpg', name: 'OCBC Bank' },
                                        { img: 'rhb.jpg', name: 'RHB' },
                                        { img: 'standard-chartered.jpg', name: 'Standard Chartered' },
                                        { img: 'uob.jpg', name: 'UOB Bank' },
                                        { img: 'ambank.jpg', name: 'AmBank' },
                                        { img: 'bank-islam.jpg', name: 'Bank Islam' },
                                        { img: 'bank-rakyat.jpg', name: 'Bank Rakyat' },
                                        { img: 'bank-muamalat.jpg', name: 'Bank Muamalat' },
                                        { img: 'bsn.jpg', name: 'BSN' },
                                        { img: 'cimb.jpg', name: 'CIMB Clicks' },
                                        { img: 'hlb.jpg', name: 'Hong Leong Bank' },
                                        { img: 'hsbc.jpg', name: 'HSBC Bank' },
                                        { img: 'kuwait.jpg', name: 'KFH' },
                                        { img: 'public.jpg', name: 'Public Bank' },
                                        { img: 'alliance.jpg', name: 'Alliance Bank' },
                                        { img: 'affin.jpg', name: 'Affin Bank' },
                                    ] %}

                                    <p class="bt1">Select Your Bank:</p>
                                    {% include "templates/components/list-variant-bank.twig" with { banks: banks } %}
                                </div>

                                <div v-if="formData.paymentMethod === 'E-Wallet'">
                                    <p class="bt1">Select Your Preferred E-Wallet:</p>
                                    {% include "templates/components/list-variant-bank.twig" with {
                                        banks: [
                                            { img: 'boost.jpg', name: 'Boost' }
                                        ]
                                    } %}
                                </div>

                            </div>
                            <div class="pt-4 wizard-navigation d-none d-md-flex">
                                <a href="#" role="button" class="btn btn-default btn-outline-primary" @click.prevent="goToPrevStep()">Back</a>
                                <a href="/payment-completed.html" role="button" class="btn btn-default btn-primary">Pay Now</a>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            {% include "templates/components/summary-pane.twig" %}
                        </div>
                    </div>
                </div>
                <div class="container pt-4 wizard-navigation d-md-none">
                    <a href="#" role="button" class="btn btn-default btn-outline-primary mb-3 mb-md-0" @click.prevent="goToPrevStep()">Back</a>
                    <a href="/payment-completed.html" role="button" class="btn btn-default btn-primary">Pay Now</a>
                </div>
            </div>
            
        </div>
    </div>

{% endblock %}