{% extends "templates/partials/base.twig" %}

{% block main %}

<div class="homepage-wrapper">

    <div class="jumbotron mb-0 align-items-center d-flex  justify-content-end bg-homepage rounded-0">
        <div class="container">
            <div class="row">
                <div class="col-md"></div>
                <!-- rebate-label-banner  add this class to text-wrapper -->
                <div class="text-left  col-md  mb-md-4 mb-5 pb-5 pb-md-0 mr-md-4  text-wrapper topText-60">
                    <!-- <div class="rebate-label">25% REBATE</div> -->
                    <h1 class="title font-weight-bold cus-line-height">TravelRight </h1>
                    <h1 class="title font-weight-normal">with MSIG</h1>
                    <h3 class="sub-title font-weight-normal mt-3">Enjoy <span class="font-weight-bold">10% off</span> when you buy travel insurance.</h3>
                    <a href="#" role="button" class="btn btn-default btn-primary btn-l mt-5 pt-md-3" >Learn More</a>
                </div>
            </div>
        </div>
        <div class="d-block d-md-none bg-blue bg-overlay"></div>
    </div>

    {% include "templates/components/subnav-homepage.twig" %}


</div>

{% endblock %}