{% extends "templates/partials/base.twig" %}

{% block main %}


<div id="travel-form" class="form-wizard" style="opacity: 1;">
    <div class="container py-5">
        <h1>Tie The Knot Insurance</h1>

        {% embed "templates/components/steppers-html.twig" %}
        {% set stepList = [ 
            {stepclass:' current', stepNum: '1', step :'Get Started'},
            {stepclass:' ', stepNum: '2', step :'Fill In Details'},
            {stepclass:' ', stepNum: '3', step :'Choose Add-Ons'},
            {stepclass:' ', stepNum: '4', step :'REVIEW'},
            {stepclass:' ', stepNum: '5', step :'PAY'}
         ] %}
        {% endembed %}

    </div>


    <div class="bg-p2d py-5 wizard-sections">
        <div class="wizard-section-1">
            <div class="container">
                <div class="bg-w py-5 px-md-5 px-3 mx-md-2">
                    <h2 class="p2">Get Started</h2>
                    <div class="bt2 mt-4">
                        <p>
                            Please make sure you meet the following conditions.
                        </p>
                        <ol class="pl-3">
                            <li>You are between 16 and 75 years old.</li>
                            <li>Your Motorcycle is 250 c.c and below.</li>
                            <li>Your Motorcycle sum insured does not exceed RM30,000.</li>
                            <li>Your Motorcycle is not older than 15 years old (comprehensive) or 40 years old (3PA).
                            </li>
                            <li>Your next policy renewal date is within 60 days.</li>
                        </ol>
                    </div>


                    <div class="row mt-4 pt-2">
                        <div class="col-md-4 col-12">
                            <div class="d-flex mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="id_type" value="NRIC"
                                        id="id_type1" v-model="formData.idType">
                                    <label class="form-check-label" for="id_type1">NRIC</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="id_type" value="Passport"
                                        id="id_type2" v-model="formData.idType">
                                    <label class="form-check-label" for="id_type2">Passport</label>
                                </div>
                            </div>

                            <div class="d-flex flex-column">
                                <div class="form-group">
                                    {% verbatim %}
                                    <select class="form-control">
                                        <option disabled hidden selected value="">Select a country</option>
                                        <option v-for="country in allCountries"
                                            v-bind:key="allCountries.indexOf(country)" :value="country">
                                            {{ country }}</option>
                                    </select>
                                    {% endverbatim %}
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="nric" placeholder="xxxxxx-xx-xxxx"
                                        v-model="formData.nric">
                                    <small class="error-message text-primary font-italic">* Complete the NRIC
                                        field.</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-12">
                            <p class="bt1 mb-2 mt-1">Motorcycle Registration No.:</p>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="eg: WWW 3333 W">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="bt2 mt-4 pt-2">

                        <div class="form-check">
                            <input type="checkbox" name="agreement" id="agreement" class="form-check-input">
                            <label for="agreement" class="form-check-label">
                                I have read and understood MSIG's <a href="#" class="underline">Privacy Notice</a> and
                                agree to MSIG
                                processing my personal data for the purposes and in the manners set out in the Privacy
                                Notice.
                            </label>
                            <svg class="icon icon-m tick-mark">
                                <use xlink:href="spa-assets/icons/icons.svg#sprite-tick-mark"
                                    href="spa-assets/icons/icons.svg#sprite-tick-mark"></use>
                            </svg>
                            <small class="error-message text-primary font-italic">* Oops, looks like you haven't ticked
                                the box yet. Please do so to proceed</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container pt-4 wizard-navigation d-flex flex-column flex-md-row"><a href="#" role="button">
                    <a class="btn btn-default btn-outline-primary  order-1 order-md-0">Back</a>
                    <a href="#" role="button" class="btn btn-default btn-primary mb-3 mb-md-0">Continue</a>
            </div>
        </div>
    </div>
</div>



{% endblock %}