{% extends "templates/partials/base.twig" %}

{% block main %}


<div id="travel-form" class="form-wizard" style="opacity: 1;">
    <div class="container py-5">
        <h1>Tie The Knot Insurance</h1>

        {% embed "templates/components/steppers-html.twig" %}
        {% set stepList = [ 
            {stepclass:' completed', stepNum: '1', step :'Get Started'},
            {stepclass:'completed', stepNum: '2', step :'Fill In Details'},
            {stepclass:'current ', stepNum: '3', step :'Choose Add-Ons'},
            {stepclass:' ', stepNum: '4', step :'REVIEW'},
            {stepclass:' ', stepNum: '5', step :'PAY'}
         ] %}
        {% endembed %}
    </div>

    <div class="bg-p2d py-5 wizard-sections">

        <div class="wizard-section-3">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8">

                        <div class="bg-w py-4 px-4 mb-3">
                            <h2 class="p2 mb-4 mt-3">Please Select Your Preferred Plan</h2>
                            <div class="selection-infobox-group row motorcycle-selection">
                                <div class="col-12 ">
                                    <div class="d-lg-flex">
                                        {% embed "templates/components/selection-infobox.twig" with {
                                                            type: "radio",
                                                            name: "choosePlan",
                                                            value: "plan1",
                                                            classes: "mb-4  mt-md-0 mb-lg-0 mr-lg-3"
                                                        } %}
                                        {% block top %}
                                        <h3 class="m-0"> Comprehensive Motorcycle Insurance</h3>
                                        {% endblock %}

                                        {% block icon %}
                                        {% include "templates/components/icon.twig" with { iconName: 'motorcycle', iconSize: '7xl ' } %}
                                        {% endblock %}

                                        {% block bottom %}

                                        {% include "templates/components/motorcycle-list-variant-icon.twig" with {
                                                    items: [
                                                        { iconName: 'tick-mark', content: '<span class="bold ">Comprehensive Motorcycle Insurance</span>' },
                                                        { iconName: 'tick-mark', content: '<span class="bold ">Loss/damage to your motorcycle</span>' },
                                                        { iconName: 'tick-mark', content: '<span class="bold ">Choose your own add-on</span>' },
                                                    ],
                                                    listWithLabelValue: true
                                                } %}
                                        {% endblock %}
                                        {% endembed %}

                                        <!-- radio 2 -->

                                        {% embed "templates/components/selection-infobox.twig" with {
                                                    type: "radio",
                                                    name: "choosePlan",
                                                    value: "plan1",
                                                    classes: " mb-lg-0 mr-lg-3"
                                                } %}
                                        {% block top %}
                                        <h3 class="m-0 py-2 mt-1">Motorcycle 3PA Insurance </h3>
                                        {% endblock %}

                                        {% block icon %}
                                        {% include "templates/components/icon.twig" with { iconName: 'motorcycle-bang', iconSize: '7xl ' } %}
                                        {% endblock %}

                                        {% block bottom %}

                                        {% include "templates/components/motorcycle-list-variant-icon.twig" with {
                                                    items: [
                                                        { iconName: 'tick-mark', content: '<span class="bold ">Third party bodily injury </span>' },
                                                        { iconName: 'tick-mark', content: '<span class="bold ">Third party property loss or damage</span>' },
                                                        { iconName: 'tick-mark', content: "<span class='bold'>Rider's Personal Accident (Non-Tariff)</span>" },
                                                    ],
                                                    listWithLabelValue: true
                                                } %}
                                        {% endblock %}
                                        {% endembed %}



                                    </div>

                                </div>
                            </div>


                            <div class="check-list-container">
                                <div class="d-flex mt-5">
                                    <h2 class="p2 mb-0">Pre-Bundled Add-On</h2>
                                </div>
                                <small><em>The following Add-Ons are offered for this plan.</em></small>
                                <div class="checkbox-list  mb-5 mt-4 ">
                                    <div class="d-flex align-items-baseline">
                                        <span>
                                            <svg class="icon icon-s tick-mark">
                                                <use xlink:href="spa-assets/icons/icons.svg#sprite-tick-mark"
                                                    href="spa-assets/icons/icons.svg#sprite-tick-mark"></use>
                                            </svg>
                                        </span>
                                        <p class="bt2 ml-3 bold">Rider’s Personal Accident (Non-Tariff)</p>
                                        <span>
                                            {% include "templates/components/tool-tip.twig" with { toolContent: 'Event date must be at least 6 months from today.' } %}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="check-list-container">
                                <div class="d-flex mt-5">
                                    <h2 class="p2 mb-1">Choose More Optional Add-On</h2>
                                </div>

                                <div class="checkbox-list  mb-4 mt-4">
                                    <div class="d-flex align-items-md-baseline">
                                        <div class="form-check">
                                            <input type="checkbox" name="agreement" id="agreement"
                                                class="form-check-input" checked>
                                            <label for="agreement" class="form-check-label bt2">
                                                Rider's Personal Accident (Non-Tariff)
                                            </label>
                                            <svg class="icon icon-m tick-mark">
                                                <use xlink:href="spa-assets/icons/icons.svg#sprite-tick-mark"
                                                    href="spa-assets/icons/icons.svg#sprite-tick-mark"></use>
                                            </svg>
                                        </div>
                                        <span>
                                            {% include "templates/components/tool-tip.twig" with { toolContent: 'Event date must be at least 6 months from today.' } %}
                                        </span>
                                    </div>
                                </div>

                                <div class="checkbox-list">
                                    <div class="d-flex align-items-md-baseline">
                                        <div class="form-check">
                                            <input type="checkbox" name="all-rider" id="all-rider"
                                                class="form-check-input">
                                            <label for="all-rider" class="form-check-label bt2"> All Riders </label>
                                            <svg class="icon icon-m tick-mark">
                                                <use xlink:href="spa-assets/icons/icons.svg#sprite-tick-mark"
                                                    href="spa-assets/icons/icons.svg#sprite-tick-mark"></use>
                                            </svg>

                                        </div>
                                        <span>
                                            {% include "templates/components/tool-tip.twig" with { toolContent: 'Event date must be at least 6 months from today.' } %}
                                        </span>
                                    </div>

                                    <div class="ml-4">

                                        <small class="color-red"><em><b>"You are choosing Single Rider
                                                    coverage"</b></em></small>
                                        <br>
                                        <small class="color-red"><em>Important Note: There will be no coverage in the
                                                event of your motorcycle
                                                ridden by any other person.</em></small>
                                    </div>
                                </div>


                                <div class="checkbox-list  mb-4 mt-4">
                                    <div class="d-flex align-items-md-baseline">
                                        <div class="form-check">
                                            <input type="checkbox" name="riot" id="riot" class="form-check-input">
                                            <label for="riot" class="form-check-label bt2">
                                                Strike, Riot and Civil Commotion
                                            </label>
                                            <svg class="icon icon-m tick-mark">
                                                <use xlink:href="spa-assets/icons/icons.svg#sprite-tick-mark"
                                                    href="spa-assets/icons/icons.svg#sprite-tick-mark"></use>
                                            </svg>
                                        </div>
                                        <span>
                                            {% include "templates/components/tool-tip.twig" with { toolContent: 'Event date must be at least 6 months from today.' } %}
                                        </span>
                                    </div>
                                </div>

                                <div class="checkbox-list  mb-4 mt-4">
                                    <div class="d-flex align-items-md-baseline  disabled-check">
                                        <div class="form-check">
                                            <input type="checkbox" name="agreement" disabled id="agreement"
                                                class="form-check-input">
                                            <label for="agreement" class="form-check-label bt2">
                                                Legal Liability to Pillion
                                            </label>
                                            <svg class="icon icon-m tick-mark">
                                                <use xlink:href="spa-assets/icons/icons.svg#sprite-tick-mark"
                                                    href="spa-assets/icons/icons.svg#sprite-tick-mark"></use>
                                            </svg>
                                        </div>
                                        <span>
                                            {% include "templates/components/tool-tip.twig" with { toolContent: 'Event date must be at least 6 months from today.' } %}
                                        </span>
                                    </div>
                                </div>


                            </div>

                        </div>

                        <div class="bg-w py-5 px-4 mb-4">
                            <div class="d-flex">
                                <h2 class="p2 mb-0">Renew Road Tax?</h2>

                            </div>

                            <div class="row mt-md-3 mt-4 ">

                                <div class="col-md-12 col-12">
                                    <div class="d-flex mb-4">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="id_type" value="NRIC"
                                                id="id_type1" v-model="formData.idType">
                                            <label class="form-check-label" for="id_type1">Yes</label>
                                        </div>
                                        <div class="form-check ml-5">
                                            <input class="form-check-input" type="radio" name="id_type" value="Passport"
                                                id="id_type2" v-model="formData.idType">
                                            <label class="form-check-label" for="id_type2">No</label>
                                        </div>
                                    </div>

                                </div>


                                <div class="col-12 col-md-9">
                                    <p class="bt1 mb-2">Collection Method:</p>
                                    <div class="form-group mb-0">
                                        <select class="form-control">
                                            <option disabled="disabled" hidden="hidden" selected="selected" value="">
                                                Home/ Office Delivery
                                            </option>
                                            <option value="Single">Single</option>
                                            <option value="Married"> Married</option>
                                        </select>
                                        <small>For all deliveries, you are required to provide your MyKAD for
                                            blometric
                                            verification. If the MyKAD is faulty,
                                            the Logistics Officer will take a snapchat of your MyKAD. </small>
                                    </div>
                                </div>


                                <div class="col-12 bt2  py-4">
                                    <div class="form-check">
                                        <input type="checkbox" name="agreement" id="agreement" class="form-check-input">
                                        <label for="agreement" class="form-check-label">
                                            Use the same address as my Motorcycle insurance
                                        </label>
                                        <svg class="icon icon-m tick-mark">
                                            <use xlink:href="spa-assets/icons/icons.svg#sprite-tick-mark"
                                                href="spa-assets/icons/icons.svg#sprite-tick-mark"></use>
                                        </svg>
                                    </div>
                                </div>

                                <div class="col-12 col-md-12">
                                    <p class="bt1 mb-2">Mailing Address for your road tax:</p>
                                    <div class="form-group mb-0">
                                        <select class="form-control">
                                            <option disabled="disabled" hidden="hidden" selected="selected" value="">
                                                East or West Malaysia
                                            </option>
                                            <option value="East">East Malaysia</option>
                                            <option value="West"> West Malaysia</option>
                                        </select>

                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="form-group mt-2 mb-0 ">
                                        <input type="text" class="form-control" placeholder="First Line">
                                    </div>
                                </div>

                                <div class="col-md-6"></div>

                                <div class="col-12 col-md-6">
                                    <div class="form-group mt-2 mb-0 ">
                                        <input type="text" class="form-control" placeholder="Second Line">
                                    </div>
                                </div>

                                <div class="col-md-6"></div>

                                <div class="col-12 col-md-6">
                                    <div class="form-group variant-icon mt-2 mb-0">
                                        <!-- <label for="postcode" class="bt1">Loan Provider (Optional):</label> -->
                                        <div class="input-wrapper"><input id="load" type="text"
                                                placeholder="Find Postcode" class="form-control"> <svg
                                                class="icon icon-s mr-2">
                                                <use xlink:href="spa-assets/icons/icons.svg#sprite-search"
                                                    href="spa-assets/icons/icons.svg#sprite-search"></use>
                                            </svg></div>
                                    </div>
                                </div>

                                <div class="col-md-6"></div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group mt-2 mb-0 ">
                                        <input type="text" class="form-control" disabled placeholder="City">
                                    </div>
                                </div>

                                <div class="col-12 mt-3 ">
                                    <small><em>*Note: Delivery charges are based on MyEG's rate. Click <a
                                                class="underline italic" href="">here</a> to view rates for yout
                                            area.</em></small>
                                </div>

                            </div>



                        </div>


                        <div class="pt-4 wizard-navigation d-none d-md-flex">
                            <a href="#" role="button" class="btn btn-default btn-outline-primary mr-4">Back</a>
                            <a href="#" role="button" class="btn btn-default btn-primary">Continue</a>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        {% include "templates/components/motorcycle-summary-pane.twig" %}
                    </div>
                </div>
            </div>
            <div class="container pt-4 wizard-navigation d-md-none">
                <a href="#" role="button" class="btn btn-default btn-primary mb-3 mb-md-0">Continue</a>
                <a href="#" role="button" class="btn btn-default btn-outline-primary ">Back</a>
            </div>
        </div>

    </div>

</div>

</div>



{% endblock %}