{% extends "templates/partials/base.twig" %}

{% block main %}


<div id="travel-form" class="form-wizard" style="opacity: 1;">
    <div class="container py-5">
        <h1>Tie The Knot Insurance</h1>

        {% embed "templates/components/steppers-html.twig" %}
        {% set stepList = [ 
            {stepclass:' completed', stepNum: '1', step :'Get Started'},
            {stepclass:'current', stepNum: '2', step :'Fill In Details'},
            {stepclass:' ', stepNum: '3', step :'Choose add-on'},
            {stepclass:' ', stepNum: '4', step :'REVIEW'},
            {stepclass:' ', stepNum: '5', step :'PAY'}
         ] %}
        {% endembed %}
    </div>

    <div class="bg-p2d py-5 wizard-sections">

        <div class="wizard-section-2">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="bg-w py-5 px-4 mb-4">
                            <div class="d-flex">
                                <h2 class="p2 mb-4">Motorcycle Details</h2>

                            </div>

                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="venuName" class="bt1">Motorcycle Make:</label>
                                        <input id="venuName" disabled type="text" value="Honda" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="venuName" class="bt1">Motorcycle Model:</label>
                                        <input id="venuName" type="text" disabled value="AFS" class="form-control">
                                    </div>
                                </div>


                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="venuName" class="bt1">Year of Make:</label>
                                        <input id="venuName" type="text" disabled value="2008" class="form-control">
                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <p class="bt1 mb-2">Variant:</p>
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option disabled="disabled" hidden="hidden" selected="selected" value="">
                                                Select Variant
                                            </option>
                                            <option value="Male">Male</option>
                                            <option value="Femaale"> Female</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="col-12 col-md-6">
                                    <p class="bt1 mb-2">Motorcycle Location:</p>
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option disabled hidden selected value="">Select a state</option>
                                            <option>Perlis</option>
                                            <option>Kedah</option>
                                            <option>Perak</option>
                                            <option>Pulau Pinang</option>
                                            <option>Selangor</option>
                                            <option>Melaka</option>
                                            <option>Negeri Sembilan</option>
                                            <option>Johor</option>
                                            <option>Pahang</option>
                                            <option>Terengganu</option>
                                            <option>Kelantan</option>
                                            <option>Sarawak</option>
                                            <option>WP Labuan</option>
                                            <option>Sabah</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="venuName" class="bt1">Sum Insured Value:</label>
                                        <input id="venuName" type="text" value="Estimated value" class="form-control">
                                    </div>
                                </div>


                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="venuName" class="bt1">Cubic Capacity:</label>
                                        <input id="venuName" type="text" disabled value="200" class="form-control">
                                    </div>
                                </div>


                                <div class="col-12 col-md-6">
                                    <div class="form-group variant-icon"><label for="postcode" class="bt1">Loan Provider
                                            (Optional):</label>
                                        <div class="input-wrapper"><input id="load" type="text"
                                                placeholder="Find Loan Provider" class="form-control"> <svg
                                                class="icon icon-s mr-2">
                                                <use xlink:href="spa-assets/icons/icons.svg#sprite-search"
                                                    href="spa-assets/icons/icons.svg#sprite-search"></use>
                                            </svg></div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="bg-w py-5 px-4 mb-4">
                            <div class="d-flex">
                                <h2 class="p2 mb-4">Rider Details:</h2>
                               
                            </div>


                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label class="bt1">Name (as per NRIC):</label>
                                        <input type="text" class="form-control" placeholder="e.g. Lisa Teo">
                                        <small class="error-message text-primary font-italic">* Complete the Name as per
                                            NRIC filed.</small>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label class="bt1">NRIC No.:</label>
                                        <input type="text" class="form-control" placeholder="e.g. 888888-88-8888">
                                        <small class="error-message text-primary font-italic">* Complete the NRIC
                                            field.</small>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="customerEmail" class="bt1">Email:</label>
                                        <input id="customerEmail" type="text" class="form-control error-input"
                                            value="e.g. hteoro@gmail.com">
                                        <small class="error-message text-primary font-italic">* Complete the Email
                                            field.</small>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="mobileNo" class="bt1">Mobile No.:</label>
                                        <input id="mobileNo" type="text" class="form-control"
                                            placeholder="e.g. 01x-xxxxxxx">
                                        <small class="error-message text-primary font-italic">* Complete the Mobile
                                            field.</small>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="form-group"><label for="address1" class="bt1">Address:</label>
                                        <input id="address1" type="text" placeholder="First Line" class="form-control">
                                        <small class="error-message text-primary font-italic">* Complete the
                                            Address
                                            field.</small></div>
                                    <div class="form-group"><input id="address2" type="text" placeholder="Second Line"
                                            class="form-control"></div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group variant-icon"><label for="postcode"
                                            class="bt1">Postcode:</label>
                                        <div class="input-wrapper"><input id="postcode" type="text"
                                                placeholder="Find postcode" class="form-control"> <svg
                                                class="icon icon-s mr-2">
                                                <use xlink:href="spa-assets/icons/icons.svg#sprite-search"
                                                    href="spa-assets/icons/icons.svg#sprite-search"></use>
                                            </svg></div>
                                        <small class="error-message text-primary font-italic">* Complete the Postal Code
                                            field.</small>
                                    </div>
                                </div>


                            </div>

                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group"><label for="city" class="bt1">City:</label>
                                        <input id="city" type="text" disabled="disabled" placeholder="city"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="state" class="bt1">State:</label>
                                        <input id="state" type="text" disabled="disabled" placeholder="state"
                                            class="form-control"></div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="state" class="bt1">Gender:</label>
                                        <input id="state" type="text" disabled="disabled" placeholder="Male"
                                            class="form-control"></div>
                                </div>


                                <div class="col-12 col-md-6">
                                    <p class="bt1 mb-2">Martial Status:</p>
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option disabled="disabled" hidden="hidden" selected="selected" value="">
                                                Select Option
                                            </option>
                                            <option value="Single">Single</option>
                                            <option value="Married"> Married</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label for="state" class="bt1">Occupation:</label>
                                        <input id="state" type="text" placeholder="eg: Architect" class="form-control">
                                    </div>
                                </div>



                            </div>


                        </div>



                        <div class="pt-4 wizard-navigation d-none d-md-flex">
                            <a href="#" role="button" class="btn btn-default btn-outline-primary mr-4">Back</a>
                            <a href="#" role="button" class="btn btn-default btn-primary">Continue</a>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        {% include "templates/components/motorcycle-summary-pane.twig" %}
                    </div>
                </div>
            </div>
            <div class="container pt-4 wizard-navigation d-md-none">
                <a href="#" role="button" class="btn btn-default btn-primary  mb-3 mb-md-0 ">Continue</a>
                <a href="#" role="button" class="btn btn-default btn-outline-primary">Back</a>
            </div>
        </div>

    </div>

</div>



{% endblock %}