{% extends "templates/partials/base.twig" %}

{% block main %}

<div class="main-wrapper">

    {% include "templates/components/banner-header-title.twig"  with { 
        wrapperClass:"bg-grey",
        textBoxClass :'text-center ',
        title: 'Motor',
        desc : 'Keep you and your loved ones safe while you’re on the road. Choose from two plans for private car and motorcycle for coverage tailored to you.'
    } %}

    <div class="bg-white pt-4 pt-md-5 pb-5 mb-3  mb-md-5">
        <div class=" container pb-md-3">

            

            <div>
                <h4 class="title-header-1 mb-3 mb-md-4 color-primary-blue">All Products</h4>
            </div>

            <div class="d-flex flex-wrap justify-content-between">

                <!-- card one -->
                {% embed "templates/components/main-card.twig" with { 
                    cardClass:'card-type-2 mb-5 mb-md-0', 
                    imgName: 'plus-insurance.png', 
                    title:'MSIG Motor Plus Insurance',
                    btnCTA : 'Learn More'
                }%}

                {% set cardList = [
                    { tickMark:' ', desc:'Comes with 7 pre-bundled add-ons, with the option to add more.', },
                    { tickMark:' ', desc:'Get fuller protection and save up to 25%.', },
                ] %}

                {% endembed %}

                

                <!-- card two -->
                {% embed "templates/components/main-card.twig" with { 
                    cardClass:'card-type-2 mb-5 mb-md-0 cus-mt-top-70 mt-md-0', 
                    imgName: 'plus-insurance.png', 
                    title:'MSIG Motor Plus Insurance',
                    btnCTA : 'Learn More'
                }%}

                {% set cardList = [
                    { tickMark:' ', desc:'Comes with 7 pre-bundled add-ons, with the option to add more.', },
                    { tickMark:' ', desc:'Get fuller protection and save up to 25%.', },
                ] %}
                {% endembed %}


            </div>

            <!-- <div class="text-center mt-md-0 pb-5">
                <a href="#" role="button" class="btn btn-default btn-primary btn-l">Learn More</a>
            </div> -->
        </div>
    </div>


    <!-- feature slider  -->
    {% embed "templates/components/card-slider-section.twig" with {
        wrapperClass:"bg-grey pt-5  ",
        title: 'Featured Highlights',
    } %}
    {% block content %}


    <!-- card one -->
    {% embed "templates/components/main-card.twig" with { 
            cardClass:'card-type-4 bg-white', 
            imgName: 'plus-insurance.png', 
            labelClass:'bg-blue',
            label:'PROMOTION', 
            catClassOne : 'color-primary-blue',
            categoryOne : 'Private',
            categoryTwo : 'Motorcycle',
            title:'Drive with peace of mind this holiday sea...', 
            btnView:' '
        }%}
    {% endembed %}
    <!-- card two -->
    {% embed "templates/components/main-card.twig" with { 
            cardClass:'card-type-4 bg-white', 
            imgName: 'plus-insurance.png', 
            labelClass:'bg-blue',
            label:'PROMOTION', 
            catClassOne : 'color-primary-blue',
            categoryOne : 'Private',
            categoryTwo : 'Motorcycle',
            title:'Drive with peace of mind this holiday sea...', 
            btnView:' '
        }%}
    {% endembed %}
    <!-- card three -->
    {% embed "templates/components/main-card.twig" with { 
            cardClass:'card-type-4 bg-white', 
            imgName: 'plus-insurance.png', 
            labelClass:'bg-blue',
            label:'PROMOTION', 
            catClassOne : 'color-primary-blue',
            categoryOne : 'Private',
            categoryTwo : 'Motorcycle',
            title:'Drive with peace of mind this holiday sea...', 
            btnView:' '
        }%}
    {% endembed %}

    {% endblock %}
    {% endembed %}
    <!-- feature slider end -->





</div>
{% endblock %}