{% extends "templates/partials/base.twig" %}

{% block main %}

<div class="travel-details">

    <div class="jumbotron text-center mb-0 align-items-center d-flex  justify-content-center">

        <div>
            <img src="assets/img/travelright-icon-white.png">
            <h1 class="w mb-3">Travel Insurance</h1>
            <a href="#" role="button" class="mt-5 btn btn-l btn-default btn-primary">Apply Now</a>
        </div>
    </div>

    {% include "templates/components/subnav-pdp.twig" %}


</div>

{% endblock %}