{% extends "templates/partials/base.twig" %}

{% block main %}

<div class="travel-details bg-light">

    <div class="jumbotron text-center mb-0 align-items-center d-flex  justify-content-center">

        <div>
            <img src="assets/img/travelright-icon-white.png">
            <h1 class="w mb-3">Travel Insurance</h1>
            <a href="#" role="button" class="mt-5 btn btn-l btn-default btn-primary">Apply Now</a>
        </div>
    </div>

    {% include "templates/components/subnav-pdp.twig" %}


    <div class="container mt-md-5 mt-4 pt-2 pt-md-0">
        <p class="bt2"><b>MSIG TravelRight Plus Insurance</b> is a comprehensive travel insurance that provides
            compensation for mishaps
            and covered events during your journey within the policy period. For example, flight delays, loss of
            luggage, illness, accidents... the list goes on.
            <p>
            </p>
            When you are travel, for business or leisure, you can be assured that you are always protected throughout
            your journey with this policy. You can opt for a short-term policy for a single trip or an annual policy to
            cover an unlimited number of trips in a policy year. All Malaysians, Permanent Residents, Non Residents,
            Work Permit/Employment PassHolders or otherwise legally employed persons in Malaysia and their Dependents
            are eligible to apply.
        </p>

        <div class="divider mt-4 mt-md-5 bg-p2c "></div>
    </div>
    <div class="container mt-md-5 mt-4 mb-4 pt-2 pt-md-0">
        <h1> Our Product Benefits </h1>
    </div>


    {% include "templates/components/pdp-table.twig" %}
</div>

{% endblock %}