{% extends "templates/partials/base.twig" %}

{% block main %}

<div class="main-wrapper">

    {% include "templates/components/banner-header-title.twig"  with { 
        wrapperClass:"bg-grey",
        textBoxClass :'text-center ',
        title: 'Travel',
        desc : 'We understand that every trip has your heart in it. That’s why we go above and beyond to keep you and your family constantly protected wherever you go. Discover a plan that caters to your traveling needs. '
    } %}

    <div class="bg-white pt-4 pt-md-5">
        <div class=" container ">
            <div>
                <h4 class="title-header-1 mb-3 mb-md-4 color-primary-blue">Plans</h4>
            </div>

            <div class="d-flex flex-wrap justify-content-between">

                <!-- card one -->
                {% embed "templates/components/main-card.twig" with { 
                    cardClass:'card-type-3', 
                    imgName: 'single-trip.png', 
                    labelClass:'',
                    label:'', 
                    category:'', 
                    title:'Single Trip',
                }%}

                {% set cardList = [
                    { tickMark:' ', desc:'Covers your single trip for up to 185 days.', },
                    { tickMark:' ', desc:'Suitable for family holidays, honeymoons and business trips.', },
                    { tickMark:' ', desc:'New offering: Sports Fans add-on.', },
                    ] %}
                {% endembed %}

                <!-- card two -->
                {% embed "templates/components/main-card.twig" with { 
                    cardClass:'card-type-3', 
                    imgName: 'single-trip.png', 
                    labelClass:'',
                    label:'', 
                    category:'', 
                    title:'Annual Cover',
                }%}

                {% set cardList = [
                    { tickMark:' ', desc:'Covers unlimited trips for a year, with each trip covered up to 90 days.', },
                    { tickMark:' ', desc:'Suitable for frequent holiday-goers or regular weekend getaways.', },
                ] %}
                {% endembed %}

                <!-- card three -->
                {% embed "templates/components/main-card.twig" with { 
                    cardClass:'card-type-3', 
                    imgName: 'single-trip.png', 
                    labelClass:'bg-purple',
                    label:'NEW ADD-ON', 
                    category:'', 
                    title:'Sports Fans',
                }%}

                {% set cardList = [
                    { tickMark:' ', desc:'Additional protection when you travel to see sports events.', },
                    { tickMark:' ', desc:'Includes covers for Ticket, Extended Accommodation, Natural Disaster, Act of Terrorism and Strike, Riot and Civil Commotion.', },
                ] %}
                {% endembed %}



            </div>

            <div class="text-center  mt-md-0  pb-md-5 pb-3 mb-4 mb-md-0 ">
                <a href="#" role="button" class="btn btn-default btn-primary btn-l">Learn More</a>

            </div>
        </div>
    </div>

    <!-- feature slider  -->
    {% embed "templates/components/card-slider-section.twig" with {
        wrapperClass:"bg-grey pt-5  ",
        title: 'Featured Highlights',
    } %}
    {% block content %}


    <!-- card one -->
    {% embed "templates/components/main-card.twig" with { 
            cardClass:'card-type-4 bg-white', 
            imgName: 'plus-insurance.png', 
            labelClass:'bg-light-pink',
            label:'Announcement', 
            catClassOne : '',
            categoryOne : 'Travel',
            categoryTwo : '',
            title:'TravelRight Plus Insurance Advisory on...', 
            btnView:' '
        }%}
    {% endembed %}
    <!-- card two -->
    {% embed "templates/components/main-card.twig" with { 
            cardClass:'card-type-4 bg-white', 
            imgName: 'plus-insurance.png', 
            labelClass:'bg-blue',
            label:'PROMOTION', 
            catClassOne : '',
            categoryOne : 'Travel',
            categoryTwo : '',
            title:'Drive with peace of mind this holiday sea...', 
            btnView:' '
        }%}
    {% endembed %}
    <!-- card three -->
    {% embed "templates/components/main-card.twig" with { 
            cardClass:'card-type-4 bg-white', 
            imgName: 'plus-insurance.png', 
            labelClass:'bg-blue',
            label:'PROMOTION', 
            catClassOne : '',
            categoryOne : 'Travel',
            categoryTwo : '',
            title:'Drive with peace of mind this holiday sea...', 
            btnView:' '
        }%}
    {% endembed %}

    {% endblock %}
    {% endembed %}
    <!-- feature slider end -->


</div>
{% endblock %}